@import './variables';

.admin-card {
    padding: 1em;
    border: 1px solid #000;
    width: 20%;
    background: $primary;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.category-container {
    width: 18%;
    margin-bottom: 20px;
    margin-right: 20px;
}

.category-name {
    background-color: $primary;
    padding: 1em;
    color: #fff;
}

.grocery-container {
    border: 1px solid $secondary;
}

.admin-grocery {
    input, select {
        width: 80%;
    }
}

.admin-grocery:nth-child(odd) {
    background-color: $secondary;
}

.admin-grocery:nth-child(even) {
    background-color: white;
    border-top: 1px solid $secondary;
    border-bottom: 1px solid $secondary;
}

.admin-drag {
    font-size: 20px;
    min-width: 50px;
    text-align: center;
}

.category-input {
    max-width: 80%;
}

.new-grocery {
    padding: 1em;
}

.grocery-container {
    .admin-grocery.new-grocery {
        background: lighten($primary, 0%);
        color: #fff;
        padding: 1em;
    }
}

.new-category {
    width: 20%;
}

@media only screen and (max-width: 1200px) {
    .category-container {
        width: 30%;
    }
}

@media only screen and (max-width: 900px) {
    .category-container {
        width: 45%;
    }

    .new-category {
        width: 100%
    }
}

@media only screen and (max-width: 650px) {
    .category-container {
        width: 100%;
        margin-right: 0;
    }

    .admin-card {
        width: 100%;
    }
}

