@import './variables';

.list div.item {
    padding: 1em;
}

.list div.item:nth-child(odd) {
    background: $secondary;
}

.list div.item:nth-child(even) {
    border-bottom: 1px solid $secondary;
}