@import './variables';

.list div.item {
    padding: 1em;
}

.list div.item:nth-child(odd) {
    background: $secondary;
}

.list div.item:nth-child(even) {
    border-bottom: 1px solid $secondary;
}

.list div.item-hoverable:hover,
.list div.item-clicked {
    background-color: $primary !important;
    background: $primary !important;
    color: #fff !important;
}

.list-category-name {
    background-color: $primary;
    color: #fff;
    padding: 1em;
}

.grocery-note {
    font-style: italic;
}

.grocery-checkbox {
    font-size: 25px;
    padding: 0.5em;
    // background: red;
    height: 60px;
    width: 70px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.grocery-left {
    max-width: 80%;
}



.list div.my-item:nth-child(odd) {
    background: $secondary;
}

.list div.my-item:nth-child(even) {
    border-bottom: 1px solid $secondary;
}