.tutorial-section {
    margin-top: 40px;
}

.first-section {
    margin-top: 20px;
}

.tutorial-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.tutorial-text {
    margin-bottom: 10px;
}

.emphasis {
    font-size: 20px;
    font-weight: bold;
}